
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

html {
  display: flex;
  height: 100%;
  width: 100%;
}

body, #root {
  flex: 1;
  display: flex;
}

body {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
